/* 
* Couleurs: Bleu #0065FC, Bleu clair #DEEBFF, Gris #F2F2F2
*/

/* Initialisation des polices */
@font-face {
    font-family: 'Raleway Light';
    src: url(raleway/Raleway-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway Black';
    src: url(raleway/Raleway-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway Medium';
    src: url(raleway/Raleway-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url(raleway/Raleway-Bold.ttf) format('truetype');
}


/* Mise en page générale */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway Bold', Helvetica, Arial, sans-serif;
    font-size: 1em;
    width: 100%;
}


/* Header et Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu .menu-li{
    padding-left: 90px;
}

.menu-link {
    font-family: 'Raleway Light';
    text-decoration: none;
    color:black;
}

.register{
    text-decoration: none;
    color: #0065FC;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    padding: 2em 2em;
    margin-top: 2em;
}

.footer {
    padding-left: 25px;
    padding-right: 150px;
}

.footer-menu{
    margin-right: 2em;
    padding-left: 0em;
    list-style-type: none;
}

.footer-menu li{
    font-family: 'Raleway Light';
    padding-bottom: 1em;
    text-decoration: none;
}

/* Heading */
.heading {
    margin-top: -0.5em;
    margin-left: 3em;
}

h1 {
     font-size: 1.3em;
 }

.subtitle {
    font-family: 'Raleway Light';
    font-size: 1em;
    margin-top: -0.6em;
}

/* Barre de recherche */
.search-box{
    margin-top: -0.5em;
    margin-left: 3em;
    width: fit-content;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.icone-search{
    padding: 0.8em 0.8em 0.8em;
    background-color: #f2f2f2;
    height: 15px;
    border-radius: 25% 0% 0% 25%;
}
.input-search{
    height: 39px;
    border: none;
    color: black;
}

.btn-search{
    height: 39px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #0065FC;
    color: #fff;

}

/* Filtres */
.filter{
    margin: 0em 3em 0em 3em;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}

.filter .center{
    position: relative;
    top: 1.2em;
    margin-right: 1em;
}

.filter-box {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    padding-right: 1em;
    border-radius: 3em;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 2px;
}

.icone {
    background-color: #DEEBFF;
    border-radius: 50%;
    position: relative;
    padding: 1em;
    margin-right: 1em;
    right: 5px;
    z-index: 1;
}
.icone .fas{
    color: #0065FC;
}
